<!doctype html>
<html itemscope itemtype="//schema.org/WebApplication" ng-app="myApp" >
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="SiteSummary | Dashboard by @fourtonfish" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SiteSummary | Dashboard by @fourtonfish</title>
	<meta property="og:title" content="SiteSummary | Dashboard by @fourtonfish" />
	<meta property="og:description" content="SiteSummary | Dashboard by @fourtonfish" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://fourtonfish.com/sitesummary-dashboard/" />
<!--
	<meta property="og:image" content="http://fourtonfish.com/sitesummary-dashboard/images/preview.png" />	
-->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@fourtonfish">
	<meta name="twitter:title" content="SiteSummary | Dashboard by @fourtonfish">
	<meta name="twitter:description" content="SiteSummary | Dashboard by @fourtonfish">
	<meta name="twitter:image:src" content="http://fourtonfish.com/sitesummary-dashboard/images/preview.png">
	<meta name="twitter:domain" content="http://fourtonfish.com/">
	<link type="text/plain" rel="author" href="humans.txt" />
	<!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link href='//fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/styles.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="icons/favicon-144.png">
	<link rel="shortcut icon" href="icons/favicon.ico"/>
	<link rel="apple-touch-icon" href="icons/favicon-152.png">
	<link rel="apple-touch-icon-precomposed" href="icons/favicon-152.png">
	<link rel="icon" href="icons/favicon-32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="icons/favicon-64.png">	
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="//feeds.feedburner.com/fourtonfish" />
</head>
<body ng-controller="DataCtrl" id="top">
<!--[if lt IE 7]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="//browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a scrolltotop class="navbar-brand" href="#top" title="SiteSummary | Dashboard"><span class="fa fa-list-alt"></span></a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a ng-click="siteSummary()" href="#"><i ng-class="reloader.icon"></i> Reload</a></li>
			</ul>
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input scrolltotop ng-model=" query" type="text" class="form-control" placeholder="Type to search">
				</div>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="https://twitter.com/fourtonfish" title="twitter.com/fourtonfish"><strong>by @fourtonfish</strong></a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></a>
					<ul class="dropdown-menu">
						<li><a href="mailto:stefan@fourtonfish.com?subject=Simple Sharing Buttons Generator" title="Get in touch"><i class="fa fa-envelope"></i> Get in touch</a></li>
						<li><a href="https://github.com/fourtonfish/SiteSummary-Dashboard" title="Learn more"><i class="fa fa-github"></i> Learn more</a></li>
						<li class="divider"></li>
						<li><a href="https://www.gittip.com/Stefan/" title="Support your developer"><i class="fa fa-gittip"></i> Support your developer</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">
	<div class="panel panel-default" ng-repeat="site in data | filter: query | orderBy: site.url">
		<div class="panel-body">

			<div class="row">
				<div class="col-md-7">
					<h2>{{site.data.title}}</h2>
					<h3 class="text-muted"><img class="favico" title="Favico" ng-src="http://{{site.url}}/favicon.ico"> {{site.url}}</h3>
					<p class="text-muted"><em>{{site.data.description}}</em></p>
				</div>
				<div class="col-md-5">
					<img class="preview" title="Preview image" ng-src="{{site.data.image}}">
				</div>
			</div>
			<br/>
			<table class="table table-hover table-bordered social-data">
				<tr>
					<td><i class="fa fa-fw fa-twitter"></i> Twitter</td>
					<td colspan="4">
						<ng-pluralize count="site.data.social.twitter.tweets"
						when=	"{'0': 'No tweets',
						'1': '1 tweet',
						'other': '{{site.data.social.twitter.tweets}} tweets'}">
						</ng-pluralize>	
					</td>
				</tr>
				<tr>
					<td><i class="fa fa-fw fa-facebook"></i> Facebook</td>
					<td>
						<ng-pluralize count="site.data.social.facebook.shared"
						when=	"{'0': 'Not shared',
						'1': '1 share',
						'other': '{{site.data.social.facebook.shared}} shares'}">
						</ng-pluralize>					
					</td>
					<td>
						<ng-pluralize count="site.data.social.facebook.liked"
						when=	"{'0': 'No likes',
						'1': '1 like',
						'other': '{{site.data.social.facebook.liked}} likes'}">
						</ng-pluralize>
					</td>
					<td>
						<ng-pluralize count="site.data.social.facebook.comments"
						when=	"{'0': 'No comments',
						'1': '1 comment',
						'other': '{{site.data.social.facebook.comments}} comments'}">
						</ng-pluralize>
					</td>
					<td>
						<ng-pluralize count="site.data.social.facebook.total"
						when=	"{'0': 'No interactions',
						'1': '1 interaction',
						'other': '{{site.data.social.facebook.liked}} total interactions'}">
						</ng-pluralize>
					</td>
				</tr>
				<tr>
					<td><i class="fa fa-fw fa-google-plus"></i> Google+</td>
					<td colspan="4">
						<ng-pluralize count="site.data.social.googleplus.plusones"
						when=	"{'0': 'No +1s',
						'1': '1 +1',
						'other': '{{site.data.social.googleplus.plusones}} +1s'}">
						</ng-pluralize>
					</td>
				</tr>
				<tr>
					<td><i class="fa fa-fw fa-linkedin"></i> LinkedIn</td>
					<td colspan="4">
						<ng-pluralize count="site.data.social.linkedin.shared"
						when=	"{'0': 'Not shared',
						'1': '1 share',
						'other': '{{site.data.social.linkedin.shared}} shares'}">
						</ng-pluralize>
					</td>
				</tr>
				<tr>
					<td><i class="fa fa-fw fa-pinterest"></i> Pinterest</td>
					<td colspan="4">
						<ng-pluralize count="site.data.social.pinterest.pins"
						when=	"{'0': 'Not pinned',
						'1': '1 pin',
						'other': '{{site.data.social.pinterest.pins}} pins'}">
						</ng-pluralize>
					</td>
				</tr>
				<tr>
					<td><i class="fa fa-fw fa-reddit"></i> Reddit</td>
					<td>Score: {{site.data.social.reddit.score}} </td>
					<td colspan="3">
						<ng-pluralize count="site.data.social.reddit.comments"
						when=	"{'0': 'No comments',
						'1': '1 comment',
						'other': '{{site.data.social.reddit.comments}} comments'}">
						</ng-pluralize>
					</td>
				</tr>
				<tr>
					<td><i class="fa fa-fw fa-share-square-o"></i>  Total</td>
					<td colspan="4">
						<ng-pluralize count="site.data.social.total"
						when=	"{'0': 'No  social interactions',
						'1': '1 social interaction',
						'other': '{{site.data.social.total}} social interactions'}">
						</ng-pluralize>
					</td>
				</tr>
			</table>
		</div>
	</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery.min.js">\x3C/script>')</script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
	<script>window.angular || document.write('<script src="js/angular.min.js"><\/script>');</script>
<script src="js/controllers.min.js"></script>
</body>
</html>